// base
@import url('https://fonts.googleapis.com/css?family=Asap:400italic,700italic')
@import "kouto-swiss"
normalize()

// vars
$amarelo = #FDC300
$marrom  = #4C352B
$img($image)
    url('../img/' + $image)
asap($size, $style = normal)
    font-size $size + 0px
    font-family 'Asap', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style italic
    if $style == bold
        font-weight 700

// base
*
*:after
*:before
    box-sizing border-box
html
body
    height 100%
    background $amarelo
body
    min-width 900px
    asap 14
    color $marrom
.center
    width 865px
    position relative
    margin 0 auto
    clearfix()
::selection
    background $marrom
    color #fff
::-moz-selection
    background $marrom
    color #fff

// layout
.chamada
    padding 50px 0
    h1
        display block
        margin 0 auto 40px
        text-indent -9999px
        width 650px
        height 165px
        background $img('logo.png') no-repeat center
    p
        cursor default
        &.frase
            asap 14 bold
            text-align center
            margin 0 0 10px
        &.consulte
            display block
            width 650px
            height 60px
            margin 0 auto
            border-radius 4px
            border 1px dashed $marrom
            asap 18
            line-height 60px
            text-align center
    a
        display block
        width 650px
        height 60px
        margin 0 auto 20px
        color $amarelo
        background $img('botao.png') no-repeat center
        asap 26
        line-height 60px
        text-align center
        text-decoration none
.informacoes
    width 380px
    float left
    cursor default
    p
        asap 14 bold
        margin 0
        &.telefone
            asap 52 bold
    .email
        display inline-block
        asap 17 bold
        color $marrom
        text-decoration none
        padding-bottom 1px
        border-bottom 1px solid transparent
        transition border .3s
        &:hover
            border-color rgba($marrom, .5)
    .endereco
        asap 19 bold
        margin-top 5px
    .facebook
        position relative
        display block
        width 365px
        height 60px
        background $img('botao2.png') no-repeat center
        margin 15px 0
        .texto
            position absolute
            asap 15
            color #fff
            line-height 1.2
            top 12px
            left 55px
        .logo
            position absolute
            width 106px
            height 31px
            background $img('facebook.png') no-repeat center
            top 15px
            left 187px
form
    width 435px
    float right
    input,
    textarea
        display block
        width 100%
        border 0
        outline 0
        margin 0 0 1px
        background #fff
        color $marrom
        asap 15
        padding 12px
        &[name=nome]
        &[name=telefone]
            width 50%
            float left
        &[name=telefone]
            border-left 1px solid $amarelo
    textarea
        height 145px
        resize none
    input[type=submit]
        background transparent
        display inline-block
        width auto
        float right
        padding 12px 0
        asap 14 bold
        text-transform uppercase
    .mensagem
        display block
        width 100%
        border-radius 4px 4px 0 0
        asap 15
        padding 20px
        background $marrom
        color $amarelo
        text-align center
.googlemaps
    width 100%
    height 315px
    margin-top 30px
    iframe
        display block
        width 100%
        height 100%